<div class="flex w-full h-full flex-col items-center justify-evenly bg-gradient-to-r from-indigo-500 to-indigo-300">
  <div class="lg:hidden flex w-full h-full flex-col items-center justify-evenly">
    <div class="text-white font-extrabold text-6xl font-inter">FUND YOUR</div>
    <div class=" flex flex-col drop-shadow-2xl rounded-xl bg-gradient-to-r from-indigo-600 to-indigo-400">
      <img src="../../../../assets/invest.svg" class="object-contain h-60 w-96" alt=""/>
      <form (ngSubmit)="onSubmit()" class=" w-96 flex flex-col rounded-b-xl h-96 items-center bg-white ">
        <h1 class="text-2xl font-bold mt-10">Login</h1>
        <div class="mt-10 flex justify-between">
          <label>Username: </label>
          <input [(ngModel)]="username" name="username" type="text" class="border-b-2 outline-0 focus:bg-indigo-100 rounded" />
        </div>
        <div class="mt-10 flex justify-between">
          <label>Password: </label>
          <input [(ngModel)]="password" name="password" type="password" class="border-b-2 outline-0 focus:bg-indigo-100 rounded" />
        </div>
        <div class="flex justify-evenly w-full mt-8">
          <a class="hover:bg-gray-500 hover:text-white duration-300 border-2 border-gray-500 ease-in-out text-black pt-4 pb-4 pr-6 pl-6 rounded" routerLink="/register" routerLinkActive="active">Sign Up</a>
          <button class="bg-black text-white pt-4 pb-4 pr-6 pl-6 rounded focus:bg-white focus:text-black duration-300 ease-in-out">Log In</button>
        </div>
        <div class="mt-6">
          <a href="#" class="underline text-indigo-800">Password lost ?</a>
        </div>
      </form>
    </div>
    <div class="text-white font-extrabold text-6xl font-inter ">DREAM</div>
  </div>

  <div class="hidden lg:flex h-2/3 w-1024 drop-shadow-2xl rounded-xl bg-gradient-to-r from-indigo-600 to-indigo-400">
      <img src="../../../../assets/invest.svg" class="object-contain h-full w-684" alt=""/>
      <div class="h-full flex bg-white flex-col rounded-r-xl">
        <div class="ml-6 mt-6 mb-6 text-indigo-800 font-bold text-2xl">Fund ! <br/>Your Dream.</div>        <form (ngSubmit)="onSubmit()" class="w-340 flex flex-col items-center ">
          <h1 class="text-2xl font-bold mt-10">Login</h1>
          <div class="mt-10 flex justify-between">
            <label>Username: </label>
            <input [(ngModel)]="username" name="username" type="text" class="border-b-2 outline-0 focus:bg-indigo-100 rounded" />
          </div>
          <div class="mt-10 flex justify-between">
            <label>Password: </label>
            <input [(ngModel)]="password" name="password" type="password" class="border-b-2 outline-0 focus:bg-indigo-100 rounded" />
          </div>
          <div class="flex justify-evenly w-full mt-8">
            <a class="hover:bg-gray-500 hover:text-white duration-300 border-2 border-gray-500 ease-in-out text-black pt-4 pb-4 pr-6 pl-6 rounded" routerLink="/register" routerLinkActive="active">Sign Up</a>
            <button class="bg-black text-white pt-4 pb-4 pr-6 pl-6 rounded focus:bg-white focus:text-black duration-300 ease-in-out">Log In</button>
          </div>
          <div class="mt-6">
            <a href="#" class="underline text-indigo-800">Password lost ?</a>
          </div>
        </form>
      </div>
  </div>
</div>
