<div class="w-full h-full">
  <div class="w-full">
    <div class="w-full flex h-16 justify-between pt-2 pl-2 pb-2">
      <div class="text-red-600 font-extrabold flex text-3xl font-inter">
        <div class="flex flex-col justify-center">CROWDFUNDING</div>
        <img src="assets/arrow-bottom-1-svgrepo-com.svg" alt="" height="30" width="30"/>
      </div>
      <div class="pr-10 pt-2">
        <img class="cursor-pointer" (click)="disconnect()" src="assets/out-administration-control-edit-option-setting-svgrepo-com.svg" alt="" height="30" width="30"/>
      </div>
    </div>
    <div class="w-full flex flex-col mb-2 justify-center font-semibold h-60 text-center bg-explore bg-cover text-white text-2xl bg-no-repeat">
      CrowdFunding Campaigns <br/>
      Fund new and groundbreaking projects
    </div>
    <div class="w-full ">
      <div class="flex justify-center mt-12">
        <app-filter></app-filter>
        <div class="flex-1 md:max-w-576 lg:max-w-840 flex flex-col">
          <app-search></app-search>
          <app-filter-setting></app-filter-setting>
          <app-campaigns></app-campaigns>
        </div>
      </div>
    </div>
  </div>
</div>
