<div class="w-full h-full">
  <div class="w-full">
    <app-nav></app-nav>
    <div class="w-full flex flex-col mb-2 justify-center font-semibold h-60 text-center bg-explore bg-cover text-white text-2xl bg-no-repeat">
      CrowdFunding Campaigns <br/>
      Fund new and groundbreaking projects
    </div>
    <div class="w-full ">
      <div class="flex justify-center mt-12">
        <app-filter></app-filter>
        <div class="flex-1 md:max-w-576 lg:max-w-840 flex flex-col">
          <app-search></app-search>
          <app-filter-setting></app-filter-setting>
          <app-campaigns></app-campaigns>
        </div>
      </div>
    </div>
  </div>
</div>
