<div class="flex-col w-220 md:flex hidden">
  <div class="font-bold">Filter results</div>
  <div class="mt-6">
    <div class="text-xs text-gray-500">CATEGORY</div>
    <div class="mt-5" (click)="handle(1)">All Categories</div>
    <div class="flex items-center cursor-pointer mt-2 {{filter[0] ? 'text-gray-500': ''}}" (click)="newFilter(0)">Tech & Innovation <img class="ml-2" src="assets/arrow-bottom-1-svgrepo-com.svg" alt="" height="15" width="15"/></div>
    <div *ngIf="filter[0]">
      <div class="pl-6 cursor-pointer" (click)="handle(3)">Audio</div>
      <div class="pl-6 cursor-pointer" (click)="handle(4)">Camera Gear</div>
      <div class="pl-6 cursor-pointer" (click)="handle(5)">Education</div>
      <div class="pl-6 cursor-pointer" (click)="handle(6)">Energy & Green Tech</div>
      <div class="pl-6 cursor-pointer" (click)="handle(7)">Fashion & Wearables</div>
      <div class="pl-6 cursor-pointer" (click)="handle(8)">Food & Beverages</div>
      <div class="pl-6 cursor-pointer" (click)="handle(9)">Health & Fitness</div>
      <div class="pl-6 cursor-pointer" (click)="handle(10)">Home</div>
      <div class="pl-6 cursor-pointer" (click)="handle(11)">Phones & Accessories</div>
      <div class="pl-6 cursor-pointer" (click)="handle(12)">Productivity</div>
      <div class="pl-6 cursor-pointer" (click)="handle(13)">Transportation</div>
      <div class="pl-6 cursor-pointer" (click)="handle(14)">Travel & Outdoors</div>
    </div>
    <div class="flex items-center cursor-pointer mt-2 {{filter[1] ? 'text-gray-500': ''}}" (click)="newFilter(1)">Creative Works <img class="ml-2" src="assets/arrow-bottom-1-svgrepo-com.svg" alt="" height="15" width="15"/></div>
    <div *ngIf="filter[1]">
      <div class="pl-6 cursor-pointer">Art</div>
      <div class="pl-6 cursor-pointer">Comics</div>
      <div class="pl-6 cursor-pointer">Dance & Theater</div>
      <div class="pl-6 cursor-pointer">Film</div>
      <div class="pl-6 cursor-pointer">Music</div>
      <div class="pl-6 cursor-pointer">Photography</div>
      <div class="pl-6 cursor-pointer">Podcasts, Blogs & Vlogs</div>
      <div class="pl-6 cursor-pointer">Tabletop Games</div>
      <div class="pl-6 cursor-pointer">Video Games</div>
      <div class="pl-6 cursor-pointer">Web Series & TV Shows</div>
      <div class="pl-6 cursor-pointer">Writing & Publishing</div>
    </div>
    <div class="flex items-center cursor-pointer mt-2 {{filter[2] ? 'text-gray-500': ''}}" (click)="newFilter(2)">Community Projects <img class="ml-2" src="assets/arrow-bottom-1-svgrepo-com.svg" alt="" height="15" width="15"/></div>
    <div *ngIf="filter[2]">
      <div class="pl-6 cursor-pointer">Culture</div>
      <div class="pl-6 cursor-pointer">Environment</div>
      <div class="pl-6 cursor-pointer">Human Rights</div>
      <div class="pl-6 cursor-pointer">Local Businesses</div>
      <div class="pl-6 cursor-pointer">Wellness</div>
    </div>
  </div>
</div>
