<div *ngIf="!error_not_found"  class="mt-4 grid grid-cols-2 gap-2 w-full lg:grid-cols-3 md:max-w-576 lg:max-w-840">
  <div *ngFor="let campaign of campaigns">
    <app-campaign [project]="campaign"></app-campaign>
  </div>
</div>

<div *ngIf="error_not_found" class="w-full flex flex-col justify-center items-center md:max-w-576 lg:max-w-840">
  <img src="assets/nothing_found.svg" alt="">
  <div class="mt-8 font-bold text-2xl">NO CAMPAING FOUND</div>
</div>

<div *ngIf="loading" class=" flex flex-col justify-center items-center">
  <img src="assets/icegif-1263.gif" height="100" width="100" alt="">
</div>
