<div class="h-full bg-[#2B2B2B] w-[225px] text-[#BABABA]">
  <div class="text-xs h-60 flex flex-col justify-end pl-8">
    <div><span class="bg-[#fdde86] text-[#2B2B2B] p-1 pl-2 pr-2 rounded">DRAFT CAMPAIGN</span></div>
    <div class="mt-3">MY CAMPAIGN TITLE</div>
  </div>
  <div class="mt-10 text-sm">
    <div>
      <div class="pl-8">PREVIEW CAMPAIGN</div>
    </div>
    <div class="mt-3"><div class="pt-3 pb-2 pl-8">CAMPAIGN EDITOR</div></div>
    <div class="flex flex-col justify-around">
      <div><div class="pl-12 hover:border-l-4 hover:bg-[#000] h-[50px] flex flex-col justify-center">1. BASICS</div></div>
      <div><div class="pl-12 hover:border-l-4 hover:bg-[#000] h-[50px] flex flex-col justify-center">2. CONTENT</div></div>
      <div><div class="pl-12 hover:border-l-4 hover:bg-[#000] h-[50px] flex flex-col justify-center">3. PERKS</div></div>
      <div><div class="pl-12 hover:border-l-4 hover:bg-[#000] h-[50px] flex flex-col justify-center">4. TEAM</div></div>
      <div><div class="pl-12 hover:border-l-4 hover:bg-[#000] h-[50px] flex flex-col justify-center">5. FUNDING</div></div>
      <div><div class="pl-12 hover:border-l-4 hover:bg-[#000] h-[50px] flex flex-col justify-center">6. EXTRAS</div></div>
      <div><div class="pl-12 hover:border-l-4 hover:bg-[#000] h-[50px] flex flex-col justify-center">7. SETTINGS</div></div>
    </div>
  </div>
</div>
