<div class="w-full flex h-16 justify-between pt-2 pl-2 pb-2">
    <div class="text-red-600 font-semibold flex text-3xl font-inter">
      <div class="flex flex-col justify-center"><img src="assets/logo.svg" alt=""/></div>
<!--      <img src="assets/arrow-bottom-1-svgrepo-com.svg" alt="" height="30" width="30"/>-->
    </div>
    <div class="pr-10 pt-2 flex items-center justify-between">
      <div class="cursor-pointer" (click)="startCamp()">
        <div class="mr-5 font-semibold text-sm">Start a campaign</div>
      </div>
      <img class="cursor-pointer" (click)="disconnect()" src="assets/out-administration-control-edit-option-setting-svgrepo-com.svg" alt="" height="30" width="30"/>
    </div>
</div>
